services:
  db:
    image: couchdb:3.3.1
    container_name: couchdb
    restart: always
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
    ports:
      - "5984:5984"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5984/_up"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
    container_name: react_app
    stdin_open: true
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      COUCHDB_URL: "http://admin:password@couchdb:5984"
